<div class="container sample">
  <div class="row">
    <div class="col mt-4">
      <% if @room.room_image? %>
        <%= image_tag room.room_image.url %>
      <% else %>
        <%= image_tag "default_room.jpg", alt: "メニュー", :size =>'500x300' %>
      <% end %>
    </div>
  </div>
</div>

<!--
<% if @room.room_image? %>
  <%= image_tag room.room_image.url %>
<% else %>
  <%= image_tag "default_room.jpg", alt: "メニュー", :size =>'300x300' %>
<% end %>
-->
